<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.impl.mapper.TShiroUsersMapper">
    <resultMap id="BaseResultMap" type="com.shiro.api.po.TShiroUsers">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <insert id="insertUser" parameterType="com.shiro.bo.TShiroUsersExt">
        INSERT INTO t_shiro_users (username, password, salt, createtime) VALUES
            (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
             #{createtime,jdbcType=TIMESTAMP})
    </insert>
    <select id="findUserByUsername" resultType="com.shiro.bo.TShiroUsersExt">
        SELECT
            username,
            password,
            salt
        FROM t_shiro_users
        WHERE username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectUserNameByName" parameterType="com.shiro.api.po.TShiroUsers" resultType="int">
        SELECT uid
        FROM t_shiro_users
        WHERE username = #{username,jdbcType=VARCHAR}
    </select>
    <resultMap id="userRoleMap" type="com.shiro.vo.UserAndRoleList">
        <id property="uid" column="uid" javaType="int" jdbcType="INTEGER"/>
        <result property="username" column="username" javaType="string" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" javaType="date" jdbcType="TIMESTAMP"/>
        <collection property="roles" ofType="com.shiro.api.po.TShiroRoles">
            <id property="uid" column="roleid" javaType="int" jdbcType="INTEGER"/>
            <result property="rolename" column="rolename" javaType="string" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="getUserAndRolePageInfo" resultMap="userRoleMap">
        SELECT
            user.uid,
            user.username,
            user.createtime,
            role.uid roleid,
            role.rolename
        FROM projectapi.t_shiro_users USER
        LEFT JOIN projectapi.t_shiro_users_roles userrole ON USER.uid=userrole.userid
        LEFT JOIN projectapi.t_shiro_roles ROLE ON ROLE.uid=userrole.roleid
        ORDER BY USER.uid DESC
    </select>

    <resultMap id="UserAndRoleListMap" type="com.shiro.vo.UserAndRoleList">
        <id property="userid" column="userid"></id>
        <result property="username" column="username"></result>
        <result property="createtime" column="createtime"></result>
        <collection property="roles" ofType="com.shiro.api.po.TShiroRoles">
            <id property="uid" column="uid"></id>
            <result property="rolename" column="rolename"></result>
        </collection>
    </resultMap>

    <select id="getUserAndRoleListPageInfo" resultMap="UserAndRoleListMap">
        SELECT
            suser.uid AS userid,
            username,
            createtime,
            role.uid,
            role.rolename
        FROM t_shiro_users suser
            LEFT JOIN t_shiro_users_roles ur ON suser.uid = ur.userid
            LEFT JOIN t_shiro_roles role ON ur.roleid = role.uid
    </select>
    <!--用户关联的角色与权限-->
    <resultMap id="userRolePermissionMap" type="com.shiro.bo.UserRolePermissonInfo">
        <id property="userid" column="userid" javaType="int" jdbcType="INTEGER"/>
        <result property="username" column="username" javaType="string" jdbcType="VARCHAR"/>
        <collection property="roleList" ofType="com.shiro.bo.UserRolePermissonInfo_role">
            <id property="roleid" column="roleid" javaType="int" jdbcType="INTEGER"/>
            <result property="rolename" column="rolename" javaType="string" jdbcType="VARCHAR"/>
            <collection property="permissionList" ofType="com.shiro.bo.UserRolePermissonInfo_permission">
                <id property="permissionid" column="permissionid" javaType="int" jdbcType="INTEGER"/>
                <result property="permissionname" column="permissionname" javaType="string" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <select id="selectRoleAndPermisssionByUserName" resultMap="userRolePermissionMap">
        select   ur.uid AS userid,
            ur.username as username,
            role.uid as roleid,
            role.rolename as rolename,
            permission.uid as permissionid,
            permission.permissionname as permissionname from sdeyqiyehao.t_shiro_users ur
            left join sdeyqiyehao.t_shiro_users_roles user_role on ur.uid=user_role.userid
            left join sdeyqiyehao.t_shiro_roles role on user_role.roleid=role.uid
            left join sdeyqiyehao.t_shiro_roles_permission role_permission on role.uid=role_permission.roleid
            left join sdeyqiyehao.t_shiro_permission permission on permission.uid=role_permission.permissionid
        where ur.username=#{username,jdbcType=VARCHAR}
    </select>
</mapper>