<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.impl.mapper.TShiroRolesMapper">
    <resultMap id="BaseResultMap" type="com.shiro.api.po.TShiroRoles">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="rolename" jdbcType="VARCHAR" property="rolename"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <resultMap id="rolePermissionMap" type="com.shiro.vo.RoleAndPermissionList">
        <id property="uid" column="roleid" javaType="int" jdbcType="INTEGER"/>
        <result property="rolename" column="rolename" javaType="string" jdbcType="VARCHAR"/>
        <result property="description" column="roledescription" javaType="string" jdbcType="VARCHAR"/>
        <collection property="permissions" ofType="com.shiro.api.po.TShiroPermission">
            <id property="uid" column="permissionid" javaType="int" jdbcType="INTEGER"/>
            <result property="permissionname" column="permissionname" javaType="string" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="getRolePageInfo" resultMap="BaseResultMap">
        SELECT
            uid,
            rolename,
            description
        FROM t_shiro_roles
        ORDER BY uid DESC
    </select>
    <select id="getRoleAndPermissionPageInfo" resultMap="rolePermissionMap">
        SELECT
            role.uid                  AS roleid,
            role.rolename,
            role.description          AS roledescription,
            permission.uid            AS permissionid,
            permission.permissionname AS permissionname
        FROM projectapi.t_shiro_roles role
            LEFT JOIN projectapi.t_shiro_roles_permission rolepermission ON role.uid = rolepermission.roleid
            LEFT JOIN projectapi.t_shiro_permission permission ON permission.uid = rolepermission.permissionid
        ORDER BY role.uid DESC
    </select>
    <select id="selectRoleNameByName" parameterType="com.shiro.api.po.TShiroRoles" resultType="int">
        SELECT uid
        FROM t_shiro_roles
        WHERE rolename = #{rolename,jdbcType=VARCHAR}
    </select>
    <resultMap id="roleAndPermissionRSMap" type="com.shiro.vo.RoleAndPermissionList">
        <id property="roleid" column="roleid"/>
        <result property="rolename" column="rolename"/>
        <result property="roledescription" column="roledescription"/>
        <collection  property="permissions" ofType="com.shiro.api.po.TShiroPermission">
            <id property="uid" column="permissionid"/>
            <result property="permissionname" column="permissionname"/>
        </collection>
    </resultMap>
    <select id="getRoleAndPermissionListPageInfo" resultMap="roleAndPermissionRSMap">
        SELECT
            r.uid            AS roleid,
            r.rolename       AS rolename,
            r.description    AS roledescription,
            p.uid            AS permissionid,
            p.permissionname AS permissionname
        FROM t_shiro_roles r
            LEFT JOIN t_shiro_roles_permission rp ON rp.roleid = r.uid
            LEFT JOIN t_shiro_permission p ON rp.permissionid = p.uid
        ORDER BY r.uid DESC
    </select>
    <select id="selectRoleNameByUserID" resultType="com.shiro.api.po.TShiroRoles">
        SELECT roleid AS UID, rolename FROM fulluserrole WHERE userid=#{userid,jdbcType=INTEGER} ORDER BY UID DESC
    </select>
</mapper>