<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.membirth.impl.mapper.SdeyMemberBirsendMapper">
  <resultMap id="BaseResultMap" type="com.membirth.api.po.SdeyMemberBirsend">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="senddate" jdbcType="DATE" property="senddate" />
  </resultMap>
  <select id="selectByDate" resultType="int" parameterType="com.yzcx.api.vo.YZCXSearchParam">
       select count(1) from sdey_member_birsend where senddate BETWEEN #{start,jdbcType=DATE} and #{end,jdbcType=DATE}
  </select>
</mapper>