<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="Access_token" class="com.weixin.util.Access_token"></bean>
    <!-- 配置方法映射工厂类 -->
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="Access_token"></property>
        <property name="targetMethod" value="init_Access_token"></property>
        <property name="concurrent" value="false"></property>
        <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->
    </bean>
    <!-- 配置任务高度的的时间/周期 -->
    <bean id="getTokenJobTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        <!-- 每隔一小时55分30秒执行一次： -->
        <property name="cronExpression" value="30 55 */1 * * ?"></property>
        <!-- 延时几毫秒后执行
        <property name="startDelay" value="1000"></property>
         -->
    </bean>

    <bean id="YZCXscheduleService" class="com.yzcx.impl.service.YZCXscheduleServiceImpl" scope="prototype"></bean>
    <bean id="yzcxDataJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="YZCXscheduleService"></property>
        <property name="targetMethod" value="menzhenDayHandler"></property>
        <property name="concurrent" value="false"></property>
        <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->
    </bean>
    <bean id="yzcxTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="yzcxDataJob"></property>
        <!-- 每5分钟执行一次： -->
        <property name="cronExpression" value="0 0/1 * * * ?"></property>
        <!-- 延时几毫秒后执行
        <property name="startDelay" value="1000"></property>
         -->
    </bean>
    <!--日归档 start-->
    <bean id="yzcxController" class="com.yzcx.controller.YZCXHandlerController" scope="prototype"></bean>
    <bean id="yzcxControllerJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="yzcxController"></property>
        <property name="targetMethod" value="excuteRiguidang"></property>
        <property name="concurrent" value="false"></property>
        <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->
    </bean>
    <bean id="yzcxRiguidangTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="yzcxControllerJob"></property>
        <!-- 每天凌晨1点： -->
        <property name="cronExpression" value="0 0 1 * * ?"></property>
        <!-- 延时几毫秒后执行
        <property name="startDelay" value="1000"></property>
         -->
    </bean>
    <!--日归档 end-->
    <!--月归档 start-->
    <bean id="yzcxControllerJob_yue"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="yzcxController" >
        </property>
        <property name="targetMethod" value="excutemonthGuidang"></property>
        <property name="concurrent" value="false"></property>
        <!-- concurrent : false表示等上一个任务执行完后再开启新的任务 -->
    </bean>
    <bean id="yzcxYueguidangTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="yzcxControllerJob_yue"></property>
        <!-- 每月1号凌晨1点执行一次 -->
        <property name="cronExpression" value="0 0 1 1 * ?"></property>
        <!-- 延时几毫秒后执行
        <property name="startDelay" value="1000"></property>
         -->
    </bean>
    <!--月归档 end-->
    <bean id="schedulerFactoryBean"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="getTokenJobTrigger"/>
                <ref bean="yzcxTrigger"/>
                <ref bean="yzcxRiguidangTrigger"></ref>
                <ref bean="yzcxYueguidangTrigger"></ref>
            </list>
        </property>
    </bean>
</beans>
