#checkedInfo {
	overflow: auto;
	text-align: center
}

.kk {
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.kk li {
	text-align: center;
	width: 72px;
	margin: 2px;
	list-style: none
}

.kk img {
	height: 60px;
	width: 60px;
	left: -20px;
	position: relative;
}

.kk label {
	font-weight: normal;
}

.f_right {
	float: right;
}

.ldghide {
	display: none;
}

.ldgshow {
	display: inline-block;
}

.navbar {
	display: block;
	min-height: 0
}

.navbar-default {
	border: none !important
}

.navbar-toggle {
	float: left !important
}
.list-group-item{ border-left:none; border-right:none}
.nav_new {
	max-height: 830px;
	overflow-y: auto;
}
.navbar-collapse{ padding:0}
.btn_group2{padding-bottom:15px;}

@media only screen and (max-width:767px) {
	
	.nav_new {
	max-height: 500px;
	overflow-y: auto;
}
.btn_group2{ margin-top:45px; padding-bottom:15px;}
.navbar-nav{ margin:7px 0 !important }
.list-group-item{
	background: #428bca;
	color: #fff
}
.list-group-item:hover{ color:#333}	
}

/*
    .list-group{ max-height:450px; overflow-y: auto;-webkit-overflow-scrolling:touch; border-radius:10px;margin-bottom:0px}

	.list-group-item{ background: #045499; opacity: 0.75;color: #fff}
	.list-group-item:hover{ color: #333}
	.navbar-collapse{ padding:0} 
}
*/
/*@media only screen and (max-width:320px) {
	.nav_downn {
		position: absolute;
		left: 0;
		width: 80%;
		background: #fff;
		opacity: 0.8;
		z-index: 999;
		border-radius: 5px;
		
	
	}
	.list-group{ max-height:350px; overflow-y: auto; -webkit-overflow-scrolling:touch;border-radius:10px; margin-bottom:0px}
	.list-group-item{ background: #045499; opacity: 0.75; color: #fff}
	.list-group-item:hover{ color: #333}
	.navbar-collapse{ padding:0}
} */