<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzcx.impl.mapper.YzcxHandleInfoDayMapper">
    <resultMap id="BaseResultMap" type="com.yzcx.api.po.YzcxHandleInfoDay">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="handledate" jdbcType="TIMESTAMP" property="handledate"/>
        <result column="count" jdbcType="DOUBLE" property="count"/>
        <result column="handletype" jdbcType="INTEGER" property="handletype"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into yzcx_handle_info_day (handledate, count,
        handletype,name
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.handledate,jdbcType=TIMESTAMP}, #{item.count,jdbcType=DOUBLE},
            #{item.handletype,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="getMZDayCount" resultType="int" parameterType="com.yzcx.api.vo.YZCXSearchParam">
        SELECT count(1)
        FROM yzcx_handle_info_day
        WHERE handledate BETWEEN #{start} AND #{end}
    </select>
    <delete id="deleteByTime" parameterType="com.yzcx.api.vo.YZCXSearchParam">
        DELETE FROM yzcx_handle_info_day
        WHERE handledate BETWEEN #{start} AND #{end}
    </delete>
</mapper>