<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzcx.impl.mapper.YzcxHandleInfoMapper">
  <resultMap id="BaseResultMap" type="com.yzcx.api.po.YzcxHandleInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="handledate" jdbcType="TIMESTAMP" property="handledate" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="handletype" jdbcType="INTEGER" property="handletype" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into yzcx_handle_info (handledate, count,
        handletype,name
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.handledate,jdbcType=TIMESTAMP}, #{item.count,jdbcType=INTEGER},
            #{item.handletype,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="montho_mzinfo" resultType="com.yzcx.api.po.YzcxHandleInfo" parameterType="com.yzcx.api.vo.YZCXSearchParam">
        select handledate,count,handletype,name from yzcx_handle_info where handledate BETWEEN #{start} and #{end}
    </select>
</mapper>