@charset "utf-8";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent}
a{color:#007bc4; text-decoration:none; cursor:pointer;}
.table_parameters a:hover{text-decoration: none}
a:hover{text-decoration:underline}
ol,ul{list-style:none}
table{border-collapse:collapse; border-spacing:0}
/* body{height:100%;} */
img{border:0; cursor:pointer;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0}

.container{width:100%; float:left; height:auto; border-bottom: solid 1px #eeeeee; padding-bottom:10px;padding-top:10px}
.container1{width:100%; float:left;padding-top: 15px}
.header{width:40px; height:40px; float:left; margin-left:15px}
.header img{ width:100%; height:100%}
.right_con{ margin-left:80px; display:block; margin-right:15px}
.right_con1{ margin-left:15px; display:block; margin-right:15px}
.right_con2{ margin-left:60px; display:block; margin-right:15px}
.use{width:100%; float:left; height:45px; line-height:24px;}
.use1{width:100%; float:left; line-height:24px;clear: left;}
.usename{ width: 100%;height: 55px;}
.usename1{ width: 100%;}
.main_txt_col{color: #5bc0de;}
.bor_line{border-bottom: solid 1px #eee;height: 40px}
.usename span{color:#757575;}
.usename em{ float:right; font-style:normal; font-size:1em; color:#b8b8b8}
.demo{width:700px; margin:0 auto}
.demo p.fx_content{font-size: 13px; height:36px; margin:0 ; padding:0; line-height:19px;display: inline-block}
.fx_content3{font-size: 13px; margin:0 ; padding:0; line-height:19px;display: block}
.fx_content1{font-size: 13px; height:12px; margin:0;display: inline-block}
.fx_content2{font-size: 13px;  margin:0;display: inline-block}
.demo{width:100%; float:right;height:auto}
.my-gallery {width: 100%; float: left; margin-top:15px}
.my-gallery img { width: 100%; height: auto; display:block; float:left}
.my-gallery figure {display: block;float: left;margin: 0 2px 2px 0;}
.my-gallery figcaption { display: none; }

.fx_address{ float:left;width:100%; margin-top:25px;height:25px; line-height:25px; font-size:1em; color:#b8b8b8; background:url(../images/dingwei.png) no-repeat left center; background-size:18px 20px; text-indent:20px}